<!DOCTYPE html>
<html lang="en">
<link rel=StyleSheet href="../../src/main/java/net/smartrss/admin/view/global.css"/>
<head>
    <meta charset="UTF-8">
    <title>Real time analyzer</title>
</head>
<body>
<ul id="menu">
    <li><a href="../../src/main/java/net/smartrss/admin/view/homePage.html">Home</a></li>
    <li>
        <a href="#">Analyzers</a>
        <ul>
            <li><a href="../../src/main/java/net/smartrss/admin/view/admin/report/analyzerPage.html">Console</a></li>
            <li><a href="../log/LogsPage.html">Logs</a></li>
        </ul>
    </li>
    <li><a href="../../../../../../../../../web/pages/usedStack.html">Used stack</a></li>
    <li><a href="../../../../../../../../../web/pages/architecture.html">Architecture</a></li>
    <li><a href="../../../../../../../../../web/pages/task.html">Task itself</a></li>
</ul>
</body>
</html>